<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169599242892-4od3qp9ljskod9elfn71jc00cpfir1bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169599242892-4od3qp9ljskod9elfn71jc00cpfir1bs</string>
	<key>API_KEY</key>
	<string>AIzaSyAyWzI8GHkOsp67WBbxaszRISdtJei7_jE</string>
	<key>GCM_SENDER_ID</key>
	<string>169599242892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.brophy.cfag</string>
	<key>PROJECT_ID</key>
	<string>cfag-a2ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>cfag-a2ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169599242892:ios:e4b25632e9dd2c78</string>
	<key>DATABASE_URL</key>
	<string>https://cfag-a2ffd.firebaseio.com</string>
</dict>
</plist>